<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sumit.camera.file.plugin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Camera File App</name>
    <description>A cordova application to test camera, file and statusbar plugin</description>
    <author email="sumitprasad585@gmail.com" href="https://cordova.apache.org">
      Sumit Prasad
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
      <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need camera access to take pictures. Make sure you have prior permission to take pictures at supplier site.</string>
        </edit-config>
        <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need microphone access to record audio. Make sure you have prior permissoin to record audio at supplier site.</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need access to photo library to get pictures from there.</string>
        </edit-config>
    </platform>
</widget>
